//Import CSS reset file
@import 'partials/reset';

//Base styles ---------- //
body, html {
  font-family: 'Helvetica Neue';
  box-sizing: border-box;
  color: black;
}
a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: black;
  }
}

//Header and Nav Section ----- //
.mobile-menu {
  position: fixed;
  top: 1rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    width: 2rem;
    height: 2rem;
  }
}
//Toggle mobile menu 
.block {
  display: block !important;
}
nav {
  position: fixed;
  z-index: 999;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  height: 100vh;
  display: none;
  ul {
    //display: flex;
    justify-content: center;
    text-align: center;
  }
  li {
    padding: 0.5rem;
  }
}
header {
  background-image: url("../images/beach.jpg");
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffffff;
}

//Section Start ----- //
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
}

.section-one {
  background-image: url("../images/clouds.jpg");
  background-position: bottom;
  img {
    width: 25%;
    @media only screen and (max-width: 600px) {
      width: 55%;
    }
  }
}

.section-two {
  background-image: url("../images/casual.jpg");
  background-position: bottom;
  img {
    width: 35%;
    @media only screen and (max-width: 600px) {
      width: 55%;
    }
  }
}
//Footer Section ----- //
footer {
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}