//Import CSS reset file
@import 'partials/reset';

//Base styles ---------- //
body, html {
  font-family: 'Helvetica Neue';
  box-sizing: border-box;
  color: black;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: black;
  }
}

//Header and Nav Section ----- //
nav {
  li {
    padding: 1rem;
  }
}
header {
  background-image: url("../images/beach.jpg");
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  position: relative;
}
h1 {
  font-size: 5.5rem;
  font-weight: bolder;
  color: #ffffff;
  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }
}

//Section Start ----- //
.section-one {
  background-image: url("../images/clouds.jpg");
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  img {
    width: 25%;
    @media only screen and (max-width: 600px) {
      width: 55%;
    }
  }
}

.section-two {
  background-image: url("../images/casual.jpg");
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  img {
    width: 35%;
    @media only screen and (max-width: 600px) {
      width: 55%;
    }
  }
}

footer {
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}